body {
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

#world-map-wrapper {
    height: 80vh;
}

#world-map {
    width: 100%;
    height: 100%;
}

#options {
    text-align: center;
}

.calendar {
    display: inline-block;
}

#sliders {
    width: 50%;
    display: inline-block;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}