body {
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

#header-wrapper {
    padding: 5px;
}

#world-map-wrapper {
    height: 80vh;
}

#world-map {
    width: 100%;
    height: 100%;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

#options-wrapper {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#options {
    position: absolute;
    bottom: 30px;
    right: 10px;
    display: none;
    z-index: 2;
    text-align: center;
}

.calendar {
    display: inline-block;
}

#sliders {
    margin-top: 10px;
    width: 100%;
    display: inline-block;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}